{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Button to Open the Modal -->
<div class="d-grid gap-2 m-4">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createProjectModal">
    Create New Project
</button>
</div>

<h2 class="center">Current Active Projects</h2>

<div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ project.project_name }}</h5>
                <p class="card-text">{{ project.project_status }}</p>
                <p class="card-text">{{ project.site_manager_name }}</p>
                <!-- Add more project details here -->
                <a href="{% url 'view_project_details' project.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- The Modal -->
<div class="modal" id="createProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create New Project</h4>
                <button type="button" class="close" data-dismiss="modal" onClick="closeModal()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="createProjectForm" method="post" action="{% url 'create_project' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.project_name }}
                        {{ form.project_code }}
                        {{ form.project_status }}
                        {{ form.project_url }}
                        {{ form.site_manager_name }}
                        {{ form.site_manager_email }}
                        {{ form.project_manager_name }}
                        {{ form.project_manager_email }}
                    </div>
                    {{ formset.management_form }}
                    <div id="locationFormSet">
                        {% for location_form in formset %}
                            <div class="location-form">
                                {{ location_form }}
                                <button type="button" class="btn btn-danger remove-location-button">Remove Location</button>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-secondary" id="addLocationButton">Add Another Location</button>
                </form>
            </div>
            {% with empty_location_form=formset.empty_form %}
            <div id="empty-form" style="display:none;">
                {{ empty_location_form.as_p }}
            </div>
            {% endwith %}

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onClick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function closeModal() {
        $("#createProjectModal").modal('hide');
    }

    function createProject() {
        var name = $("#projectName").val();
        var status = $("#projectStatus").val();
        var manager = $("#siteManagerName").val();
        $.post("/create_project/", {name: name, status: status, manager: manager, csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data){
            if (data.status === 'success') {
                location.reload();  // Reload the page if successful
                $("#createProjectModal").modal('hide');  // Hide the modal if successful
            } else {
                alert("Error: " + data.errors);
            }
        });
    }
</script>

<script>
    $(document).ready(function() {
        $('#addLocationButton').click(function() {
            let formIdx = $('#id_locations-TOTAL_FORMS').val();
            $('#locationFormSet').append($('#empty-form').html().replace(/__prefix__/g, formIdx));
            $('#id_locations-TOTAL_FORMS').val(parseInt(formIdx) + 1);
        });
    });
</script>

{% endblock %}
