{% extends "base.html" %} {% block content %}

<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-header">
          <h2>Edit Profile</h2>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'edit_profile' %}" class="needs-validation" novalidate>
            <!--Display form fields -->
            {% csrf_token %} {% for field in form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
              {{ field }}
              <div class="invalid-feedback">
                Please enter a valid {{ field.label }}.
              </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block extra_js %}
<script>
  // Function to validate form input
  (function() {
    "use strict";
    window.addEventListener(
      "load",
      function() {
        var forms = document.querySelectorAll(".needs-validation");
        Array.prototype.slice.call(forms).forEach(function(form) {
          form.addEventListener(
            "submit",
            function(event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>

{% endblock %}