{% extends "base.html" %}

{% block content %}
{% if messages %}
    <div class="container mt-2">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h1 class="text-center mb-5">Edit Project</h1>
            <form method="post" action="{% url 'edit_project' project.id %}">
                {% csrf_token %}

                <div class="row">
                    <!-- Column for Project Details -->
                    <div class="col-lg-6">
                        <h3 class="mb-4">Project Details</h3>
                        <div class="project-details">
                            {% for field in form %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="invalid-feedback">
                                            {{ field.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Column for Location Details -->
                    <div class="col-lg-6">
                        <h3 class="mb-4">Locations</h3>
                        <div class="locations">
                            {{ formset.management_form }}
                            <ul class="list-group">
                                {% for location_form in formset %}
                                    <li class="list-group-item">
                                        {{ location_form.as_p }}
                                        {% if location_form.instance.id %}
                                            <a href="{% url 'view_qr_code' location_form.instance.id %}" class="btn btn-secondary" download>Download QR</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Create New Location Form -->
                        <div class="create-location-form mt-4">
                            <div class="collapse" id="new-location-form">
                                <div class="mb-3">
                                    <label for="new_location_name" class="form-label">Location Name</label>
                                    <input type="text" class="form-control" id="new_location_name" name="new_location_name">
                                    <label for="new_location_address" class="form-label">Location Address</label>
                                    <input type="text" class="form-control" id="new_location_address" name="new_location_address">
                                    <label for="new_location_description" class="form-label">Location Description</label>
                                    <textarea class="form-control" id="new_location_description" name="new_location_description" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#new-location-form" aria-expanded="false" aria-controls="new-location-form">
                            Add New Location
                        </button>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="{% url 'delete_project' project.id %}" class="btn btn-danger">Delete Project</a>

                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}
