<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">{{ location.name }}</h2>
                    <p class="card-text">{{ location.description }}</p>
                    
                    <form method="post" hx-post="{% url 'sign_in_out' location.id %}" hx-swap="outerHTML" hx-target="#clockingDiv">
                        {% csrf_token %}
                        <div class="my-3">
                            <strong>Current Session:</strong>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">Started: {{ current_signin.sign_in_time }}</p>
                                {% if current_signin %}
                                    {% if current_signin.sign_out_time %}
                                        <p class="mb-0">End: {{ current_signin.sign_out_time|date:"Y-m-d H:i" }}</p>
                                    {% else %}
                                        <p class="mb-0">End: Still clocked in</p>
                                    {% endif %}
                                {% else %}
                                    <p class="mb-0">End: -</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="text-center">
                            {% if not current_signin %}
                                <button type="submit" class="btn btn-primary btn-lg">Clock In</button>
                            {% else %}
                                <button type="submit" class="btn btn-danger btn-lg">Clock Out</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Today's Clock-ins</h3>
                    <ul class="list-group">
                    {% for signin in todays_signins %}
                        {% comment %} <li class="list-group-item">
                            <strong class="text-primary">Project:</strong> <span class="font-weight-bold">{{ signin.location.name }}</span> - 
                            <strong class="text-secondary">Started:</strong> {{ signin.sign_in_time }} - 
                            <strong class="text-secondary">Ended:</strong> {{ signin.sign_out_time|default:"Ongoing" }}
                        </li> {% endcomment %}
                        <div class="list-group-item">
                            <h5 class="card-title">{{ signin.location.name }}</h5>
                            <p class="card-text">Sign-in Time: {{ signin.sign_in_time }}</p>
                            <p class="card-text">Sign-out Time: {{ signin.sign_out_time }}</p>
                        </div>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>
