{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <div class="container mt-2">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="container mt-5">
    <h1>Your Dashboard</h1>
    <div class="mt-4">
        {% if current_signin %}
            <h2 class="mb-3">Current Sign-in</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ current_signin.location.name }}</h5>
                    <p class="card-text">Sign-in Time: {{ current_signin.sign_in_time }}</p>
                </div>
            </div>
            <hr>
        {% else %}
            <div class="alert alert-info" role="alert">
                You are currently not signed in to a Project Location.
            </div>
        {% endif %}
    </div>

    <h2 class="mb-4">Past Sign-ins</h2>
    {% for signin in past_signins %}
        <div class="mb-4">
            <h6 class="mb-2">{{ signin.sign_in_time|date:"d M Y" }}</h6>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ signin.location.name }}</h5>
                        <div>
                        </div>
                    </div>
                    <p class="card-text">Sign-in Time: {{ signin.sign_in_time }}</p>
                    <p class="card-text">Sign-out Time: {{ signin.sign_out_time }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
</div>
{% endblock %}
