{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Your Profile</h1>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <p class="card-text">
                        <strong>First Name:</strong> {{ user.first_name }} <br>
                        <strong>Last Name:</strong> {{ user.last_name }} <br>
                        <strong>Date Joined:</strong> {{ user.date_joined }}
                    </p>
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
